<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="com.kartashov.elevator" level="ALL"/>
    <!--
         It is beneficial to set logging level to INFO
         to see what kind of queries the JPA sends to the database.
         Generally it requires some fine tuning till you find the
         best JPA configuration
    -->
    <logger name="h2database" level="WARN"/>
</configuration>